<!DOCTYPE html>
<html>
<head>
  <title>Sports Match Analysis and Prediction</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: left;
    }
    h1 {
      color: #07235a;
    background-color: color-mix(in srgb, color percentage, color percentage);
    }
    form {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <h1>Sports Match Analysis and Prediction</h1>
  <form action="/predict" method="post" id="matchPredictionForm">
    <label for="team1">Enter Team 1: </label>
    <input type="text" name="team1" required><br><br>
    <label for="team2">Enter Team 2: </label>
    <input type="text" name="team2" required><br><br>
    <input type="submit" value="Predict Match">
  </form>
</body>
</html>


